<!DOCTYPE html>
<html>
    <head>
        <title>Vinify | des vins de qualité, adaptés à vos goûts, toujours à portée de main</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- social media tags -->

        <meta name="description" content="Vinify, le caviste qui vous connaît, toujours à portée de mainJe commande mon vinibar. Merci d'avoir offert un cadeau de vin chez Vinify, le premier caviste en ligne qui vous connaît.">
        <link rel="publisher" href="https://plus.google.com/100061614021617374779"/>
        <meta property="og:title" content="Vinify, le caviste qui vous connaît, toujours à portée de main"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://www.vinify.co/assets/img/background-tonio-carafe2.jpg"/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="800" />
        <meta property="og:description" content="1/ Je commande mon vinibar. 2/ Je déguste et je note ma sélection. 3/ Je recharge avec des vins plus proches de mes goûts. Avec Vinify, je ne suis plus jamais déçu par une bouteille de vin ! Sans abonnement et entièrement sur mesure, Vinify s'adapte totalement à mes goûts et à mon budget."/>
        <meta name="twitter:title" content="Vinify, le caviste qui vous connaît, toujours à portée de main">
        <meta name="twitter:description" content="1/ Je commande mon vinibar. 2/ Je déguste et je note ma sélection. 3/ Je recharge avec des vins plus proches de mes goûts. Avec Vinify, je ne suis plus jamais déçu par une bouteille de vin ! Sans abonnement et entièrement sur mesure, Vinify s'adapte totalement à mes goûts et à mon budget.">
        <meta name="twitter:image" content="http://vinify.co/img/logo_white.png">
        <meta name="keywords" content="vin, goût, goûts, petit ballon, box, abonnement, cadeau">

        <link rel="icon" type="image/png" href="assets/img/favicon.png" />
        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <script type="text/javascript" async="" src="//static.affilae.com/ae-v3.2.js"></script>
        <script async="" charset="utf-8" src="//v2.zopim.com/?2cMZv3tttiNZ7nrmNbi9MyUsJlltchf8" type="text/javascript"></script>
        <script type="text/javascript" async="" src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js"></script>

        <!-- start Mixpanel --><script type="text/javascript">(function (f,b) {if(!b.__SV) {var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function (a,e,d) {function f(b,h) {var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function () {b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function (b) {var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function () {return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
        mixpanel.init("61669544c576e6ddf06711e2af137c1a", { track_pageview: false });</script><!-- end Mixpanel -->
    </head>
  <body>

        <nav class="navbar navbar-fixed-top" role="navigation" id="navbar-second">
          <div id="disclaimer"><a href="https://start.vinify.co/#/recevoir"><i class="fa icon-gift"></i> Vous avez reçu un cadeau ? cliquez ici pour l'activer</a></div>
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
               <a href="#splashscreen" id="home-logo-brand-second"><img alt="" src="assets/logos/logo.png" style="height:45px" id="mf2"/></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle navbar-cta" data-toggle="dropdown" role="button" aria-expanded="false">Cadeau <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="https://start.vinify.co/#/cadeau/vinibar/formule" id="home-navbar-second-gift" class="btn-navbar-second">
                        Offrir
                    </a></li>
                  <li><a href="https://start.vinify.co/#/recevoir" id="home-navbar-second-gift" class="btn-navbar-second">
                        Recevoir
                    </a></li>
                </ul>
                </li>
                  <li>
                    <a href="#getstarted" id="home-navbar-second-faq" class="btn-navbar-second">
                        Comment ça marche ?
                    </a>
                  </li>
                  <li>
                    <a href="#how-it-works" id="home-navbar-second-experience" class="btn-navbar-second">
                        L'expérience Vinify
                    </a>
                  </li>
                  <li>
                    <a href="http://blog.vinify.co" id="home-navbar-second-blog" class="btn-navbar-second">
                       Blog
                    </a>
                  </li>
                  <li>
                    <a href="https://api.vinify.co/s/client/build/index.html#/" id="home-navbar-second-login" class="btn-navbar-second">
                       <i class="fa icon-user"></i> Login
                    </a>
                  </li>
                  <li>
                    <a href="https://start.vinify.co/" id="home-navbar-second-start" class="btn-navbar-second btn-navbar-cta">
                       Démarrer
                    </a>
                  </li>
              </ul>
            </div>
          </div>
        </nav>
      <div class="remerciement-container">
        <div class="vertical-align centered">
            <div class="container row-fluid">
              <h2>Bienvenue dans l'univers Vinify</h2>
              <p>Merci d'avoir créé votre profil de goûts, nous préparons votre sélection personnalisée !</p>
      <!--         <h2>Merci pour votre commande</h2>
              <p>Nous préparons votre sélection personnalisée.</p>
              <p>Vous aller recevoir un email contenant votre facture et votre numéro de commande.</p> -->
              <div class="remerciement">
                <img src="../assets/img/vinify-tailleur.png" style="width:300px;">
              <!-- Col -->
              </div>
              <p>A très vite pour la suite de l'aventure Vinify !</p>
            <!-- ROW -->
            </div>
        </div>
      </div>

      <iframe id="affilae" src="" frameborder="0" width="1" height="1" class="ng-scope" kwframeid="1"></iframe>

      <!-- url is based on ?id=uuid&amount=amount -->
      <script type="text/javascript">
        var url = window.location.href;
        var params = "";
        var uuid = "";
        var amount = "";
        if(url.lastIndexOf('?') != -1) {
            params = url.split('?')[1].split('&');
            amount = params[1].split('=')[1];
            uuid = params[0].split('=')[1];
        }
        console.log('https://lb.affilae.com/?key=546b74af23b944e0498b4c0a-546b6ea723b944df498b4e23&id=' + uuid + '&amount=' + amount + '&payment=online');
        document.addEventListener("DOMContentLoaded", function(event) {
          console.log(document.getElementById('affilae').src);
        });
      </script>

<!-- Google Code for Discovery Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 988279546;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "t9pJCK74pVkQ-uWf1wM";
var google_conversion_value = 39.00;
var google_conversion_currency = "EUR";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/988279546/?value=39.00&amp;currency_code=EUR&amp;label=t9pJCK74pVkQ-uWf1wM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>

<!-- Facebook Conversion Code for Conversion Paiement Découverte -->
<script>(function() {
var _fbq = window._fbq || (window._fbq = []);
if (!_fbq.loaded) {
var fbds = document.createElement('script');
fbds.async = true;
fbds.src = '//connect.facebook.net/en_US/fbds.js';
var s = document.getElementsByTagName('script')[0];
s.parentNode.insertBefore(fbds, s);
_fbq.loaded = true;
}
})();
window._fbq = window._fbq || [];
window._fbq.push(['track', '6024359343393', {'value':'39.00','currency':'EUR'}]);
</script>
<noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6024359343393&amp;cd[value]=39.00&amp;cd[currency]=EUR&amp;noscript=1" /></noscript>

    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
    $.src='//v2.zopim.com/?2cMZv3tttiNZ7nrmNbi9MyUsJlltchf8';z.t=+new Date;$.
    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->
    <script type="text/javascript">
      var _ae = {
        'pid': '546b6ea723b944df498b4e23',
        'advertiserFirst': 21600, // 15 days in mins
        'allowSiteUnder': false,
        'allowIframing': false,
        'host': 'https://lb.affilae.com'
      };

      (function() {
        var element = document.createElement('script'); element.type = 'text/javascript'; element.async = true;
        element.src = '//static.affilae.com/ae-v3.2.js';
        var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(element, scr);
      })();
    </script>

  </body>
</html>