/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/normalize.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/carousel.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/tables.less';
@import '../../vendor/bootstrap/less/glyphicons.less';
@import '../../vendor/bootstrap/less/badges.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/wells.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/responsive-utilities.less';
@import '../../vendor/bootstrap/less/component-animations.less';
@import '../../vendor/bootstrap/less/progress-bars.less';
@import '../../vendor/bootstrap/less/input-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';
@import '../../vendor/bootstrap/less/tooltip.less';


/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right-padded-text {
  padding-right: 50px;
    @media (max-width: 768px) {
      padding-right: 0;
    }
}

.background-colored-text {
    background-color: rgba(0,0,0, 0.4);
}

.overlay {
  color: #fff;
  background: rgba(0,0,0,0.4);
  overflow: auto;
  height: 100%;
  z-index: 2;
      @media (max-width: 768px) {
          background: rgba(0,0,0,0.2);
      }
}

// ADD PADDING WHEN NAVBARISHERE
.menu-padding {
  padding-top: 60px;
}
.centered {
  text-align: center;
}

.highlight {
  color: @color-highlight;
}
// HOVER EFFECT

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/**
 * Typography
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Montserrat:700,400);
@font-face {
    font-family: 'amaranthbold';
    src: url('fonts/amaranth-bold-webfont.eot');
    src: url('fonts/amaranth-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amaranth-bold-webfont.woff') format('woff'),
         url('fonts/amaranth-bold-webfont.ttf') format('truetype'),
         url('fonts/amaranth-bold-webfont.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'amaranthregular';
    src: url('fonts/amaranth-regular-webfont.eot');
    src: url('fonts/amaranth-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/amaranth-regular-webfont.woff') format('woff'),
         url('fonts/amaranth-regular-webfont.ttf') format('truetype'),
         url('fonts/amaranth-regular-webfont.svg#amaranthregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'actorregular';
    src: url('fonts/actor-regular-webfont.eot');
    src: url('fonts/actor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/actor-regular-webfont.woff') format('woff'),
         url('fonts/actor-regular-webfont.ttf') format('truetype'),
         url('fonts/actor-regular-webfont.svg#actorregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body {
  font-size: 16px;
}
@media (max-width: 900px) {
  html, body { font-size: 15px; }
}
@media (max-width: 400px) {
  html, body { font-size: 14px; }
}


body {
  font-family: 'actorregular', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.title{
  text-align: center;
}

.lead-section {
  font-size: 1.2em;
  color: @color-support-strong;
  font-weight: 400;
  font-family: 'amaranthregular';
}

.strong {
  font-weight: 400;
}

html, body {
  height: 100%;
}

.btn-primary {
  color: #ffffff;
  font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
  border-color: @color-support-strong;
  background-color: @color-support-strong;
  border-radius: 50px;

      // &:hover {
      //   background-color: transparent;
      //   color: @main;
      //   border-color: @color-support-strong;
      //   border-width: 1px;
      // }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: @color-support-strong;
  border-color: @color-support-strong;
}

.btn-primary-outline {
  font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
  border-radius: 50px;
  background-color: transparent;
}

.btn-outline-white {
  color: #FFFFFF;
  border-color: #FFFFFF;
      &:hover {
        background-color: #FFFFFF;
        color: @color-support-strong;
      }
}

.btn-outline-blue {
  color: @color-support-strong;
  border-color: @color-support-strong;
      &:hover {
        background-color: @color-support-strong;
        color: #FFFFFF;
      }
}

.landing-btn-strong {
  font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: @color-support-strong;
  border-color: @color-support-strong;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.6em;
    // &:hover {
    //   background-color: transparent;
    //   color: @color-support-strong;
    // }
}

/* ---------------- NAVBAR ---------------- */

.navbar-splash {
  padding: 5px 5px 5px 6.25px;
  background-color: transparent;
  border-color: transparent;

    .brand-image {
      float: left;
      display: inline-block;
    }

    .quick-links {
      float: right;
      display: inline-block;
    }
}

#navbar-second {
  padding: 5px 5px 5px 6.25px;
  background-color: white;
  border: 0 solid @color-grey;
  border-bottom-width: 1px;
  border-radius: 0;
}

@media (max-width: 900px) {
  .nav > li > a {
    display: inline-block;
    padding: 10px 5px;
  }
}

  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }

.navbar-toggle {
  border-color: #ebebeb;

  .icon-bar {
    background-color: #ebebeb;
  }
}

#navbar-second li > a:hover, #navbar-second li > a:focus {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: @color-support-strong;
  .bn-primary {
    border-color: @color-support-strong;
  }
}

#navbar-first li > a:hover, #navbar-first li > a:focus {
  cursor: pointer;
  text-decoration: none;
  background-color: @color-support-strong;
  border-color: @color-support-strong;
  color: #FFF;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
  border-color: @color-grey;
}

.loginbtn {
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  margin-right: 15px;
}

.mini-loginbtn {
  color: #800000;
  background-color: #fff;
  border-color: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}

.mini-loginbtn-container {
  text-align: center;
}

.section{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
    @media (max-width: 768px) {
      padding-left: 10px;
      padding-right: 10px;
      margin-top: 40px;
      margin-bottom: 40px;
    }
}


/* ---------------- HEADER ---------------- */

.headline {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;

  @media (max-width: 768px) {
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left:  auto;
    margin-right:  auto;
  }

  @media (max-width: 640px) {
      margin-left:  0;
      margin-right:  0;
      padding-left: 10px;
      padding-right: 10px;
}

@media (max-width: 375px) {
      margin-left:  0;
      margin-right:  0;
      padding-left: 5px;
      padding-right: 5px;
}

  h2 {
    font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 35px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
    text-transform: uppercase;
    // text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  }

  h3 {
    font-family: 'actorregular', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 25px;
      @media (max-width: 768px) {
        font-size: 20px;
      }
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.25em;
    // text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  }

    .landing-btn-strong {
      font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
      color: #ffffff;
      background-color: @color-support-strong;
      border-color: @color-support-strong;
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 1.6em;
        // &:hover {
        //   background-color: transparent;
        //   color: @color-support-strong;
        // }
    }

    .headers {
      margin-bottom: 40px;
    }

    .cta {
      text-align: center;
    }

    .tagline {
      text-transform: uppercase;
    }
}

// SCROLL HEADER

.scrollable {
    display: inline-block;
    height: 38.5px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    text-align: right;
          @media (max-width: 768px) {
            text-align: center;
          }


}
.item {
    height: 38.5px;
    margin: 6px auto;
    display: block;
}
.items {
    float: left;
    -webkit-animation: scroll 8s infinite;
    -moz-animation: scroll 8s infinite;
    -ms-animation: scroll 8s infinite;
    -webkit-animation-direction: alternate; /* Safari and Chrome */
    animation-direction: alternate;
}

.tagline_last {
  display: inline-block;
}

@-webkit-keyframes scroll {
  0%   { margin-top: 1px; }
19%  { margin-top: 1px; }
25%  { margin-top: -43.5px; }
69% { margin-top: -43.5px; }
75% { margin-top: -88px; }
100% { margin-top: -88px; }
}
@-moz-keyframes scroll {
  0%   { margin-top: 2px; }
19%  { margin-top: 2px; }
25%  { margin-top: -42.5px; }
69% { margin-top: -42.5px; }
75% { margin-top: -87px; }
100% { margin-top: -87px; }
}

@-ms-keyframes scroll {
  0%   { margin-top: 5px; }
19%  { margin-top: 5px; }
25%  { margin-top: -39.5px; }
69% { margin-top: -39.5px; }
75% { margin-top: -84px; }
100% { margin-top: -84px; }
}

.header-image {
      margin: 0;
      @media (min-width: 768px) {
        height: 100%;
        width: 100%;
      }
      background:url(img/background-tonio-carafe.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
      @media (max-width: 768px) {
        background:url(img/background-small.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
      }

        /* iPads (landscape) ----------- */
        @media only screen
        and (min-device-width : 768px)
        and (max-device-width : 1024px)
        and (orientation : landscape) {
           background:url(img/background-tonio-carafe.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
}

.header-image2 {
      margin: 0;
      height: 100%;
      width: 100%;
      background:

      url(img/background-fraise-vin.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.know-more {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  a {
    color: @main;
    font-size: 30px;
  }
}


.header-xs {
      margin: 0;
      padding: 0;
      background-color: rgb(128, 0, 0);
}

.brand > img {
  height: 45px;
}

/* ---------------- PROPVAL ---------------- */

.badge-custom {
  display: inline-block;
  padding: 3px 7px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background-color: @main;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}


.getstarted {
  margin-top: 100px;
  margin-bottom: 100px;
    @media (max-width: 768px) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
}


.propval {
  text-align: center;
  padding: 10px 0px 5px 0px;
    p {
      height: 100%;
      line-height: 100%;
    }

    h1 {
      color: @color-support-strong;
      text-transform: uppercase;
    }
    h3 {
      text-transform: uppercase;
    }

}



.tnp{
  text-align: center;
  padding: 0px 15px 5px;
}

.tnp > h3 {
  text-align: center;
  font-size: 16px;
}

.propcontent{
  padding-bottom: 15px;
}

.propcontent > h3{
  text-align: center;
}



/* ---------------- WHATDOIGET ---------------- */
#whatdoiget {

    p {
        font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    background-color: @color-support-strong;
    color: #FFF;
    text-align: center;
    padding-bottom: 80px;
    padding-top: 80px;

    .v-align-text {
      position: relative;
      top: 130px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
}

.svg-yellow {
  fill: RGB(71, 173, 104);
}

.svg-red {
  fill: @color-brand;
}

.svg-blue {
  fill: @color-support-strong;
}

/* ---------------- LA RECHARGE ---------------- */

#recharge {

  .par-end {
    margin-bottom: 50px;
  }

  .know-more-link {
    text-align: right;
  }

  p {text-align: left;}
  h2 {
      text-align: center;
      margin-bottom: 60px;
    }

  .half {
    padding-right: 20px;
    width: 50%;
    float: left;

    @media (max-width: 768px) {
      width: 100%;
      padding-right: 0;
    }
  }

  .half-left {
    padding-right: 60px;
    @media (max-width: 768px) {
      padding-right: 0;
    }
    padding-top: 60px;

  }

  .svg-container {
    svg {
      height: 100%;
      width: 100%;
    }
  }
}

// pricing

.panel {
  border: 0;

      @media (max-width: 768px) {
        border: 1px solid @color-support-strong;
        border-radius: 10px;

          .panel-body {
            background-color: #FFF;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            border-top: 1px solid @color-support-strong;
          }

      }

}
  .panel .panel-body {
    padding: 20px; }

.panel-heading .panel-toggle {
  background: #f9fafa; }
.panel-heading .panel-title {
  font-size: 18px; }

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger, .bg-muted {
  color: white; }
  .bg-primary .page-header, .bg-success .page-header, .bg-info .page-header, .bg-warning .page-header, .bg-danger .page-header, .bg-muted .page-header {
    color: white; }

.bg-primary {
  background-color: #32b9b1; }

.bg-success {
  background-color: #51be38; }

.bg-info {
  background-color: #5bc0de; }

.bg-warning {
  background-color: #ef9544; }

.bg-danger {
  background-color: #f05a5b; }

.bg-muted {
  background-color: #bbbbbb; }

.pricing-table {
  text-align: center;
  margin-bottom: 50px; }
  .pricing-table [class^="col-"], .pricing-table [class*="col-"] {
    padding-top: 30px; }
    .pricing-table [class^="col-"].featured, .pricing-table [class*="col-"].featured {
      padding-top: 0;
      z-index: 10;
      position: relative; }
      .pricing-table [class^="col-"].featured .panel, .pricing-table [class*="col-"].featured .panel {
        padding-bottom: 30px; }
        .pricing-table [class^="col-"].featured .panel .panel-heading, .pricing-table [class*="col-"].featured .panel .panel-heading {
          padding-top: 40px;
          position: relative;
          overflow: hidden; }
          .pricing-table [class^="col-"].featured .panel .panel-heading .popular, .pricing-table [class*="col-"].featured .panel .panel-heading .popular {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: 600; }
    .pricing-table [class^="col-"] .panel, .pricing-table [class*="col-"] .panel {
      margin: 0 -10px; }
      .pricing-table [class^="col-"] .panel h2, .pricing-table [class*="col-"] .panel h2 {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        margin-top: 15px; }
      .pricing-table [class^="col-"] .panel h3, .pricing-table [class*="col-"] .panel h3 {
        font-size: 75px;
        font-weight: 400;
        letter-spacing: -0.02em;
        margin: 15px 0 10px; }
        .pricing-table [class^="col-"] .panel h3 sup, .pricing-table [class*="col-"] .panel h3 sup {
          font-size: 40%;
          top: -0.85em;
          letter-spacing: 0; }
        .pricing-table [class^="col-"] .panel h3 span, .pricing-table [class*="col-"] .panel h3 span {
          font-size: 25%;
          letter-spacing: 0; }
      .pricing-table [class^="col-"] .panel ul, .pricing-table [class*="col-"] .panel ul {
        list-style: none;
        padding: 0;
        margin-bottom: 35px; }
        .pricing-table [class^="col-"] .panel ul li, .pricing-table [class*="col-"] .panel ul li {
          margin: 15px 0; }
    .pricing-table [class^="col-"] table, .pricing-table [class*="col-"] table {
      background-color: transparent; }
      .pricing-table [class^="col-"] table th, .pricing-table [class*="col-"] table th {
        font-size: 18px;
        font-weight: 600;
        text-align: center;
        height: 50px; }
      .pricing-table [class^="col-"] table td, .pricing-table [class*="col-"] table td {
        text-align: center;
        height: 40px; }
        .pricing-table [class^="col-"] table td .fa, .pricing-table [class*="col-"] table td .fa {
          color: #60c560;
          font-size: 22px; }
  .pricing-table .pricing-categories {
    padding-top: 80px; }
    .pricing-table .pricing-categories .table {
      box-shadow: none; }
      .pricing-table .pricing-categories .table tbody {
        background-color: transparent; }
        .pricing-table .pricing-categories .table tbody td {
          height: 40px;
          font-weight: 600;
          text-align: right !important;
}

@media (max-width: 768px) {
  .pricing-table [class^="col-"], .pricing-table [class*="col-"] {
    padding-top: 0px; }
    .pricing-table [class^="col-"].featured .panel, .pricing-table [class*="col-"].featured .panel {
      padding-bottom: 0; }
      .pricing-table [class^="col-"].featured .panel .panel-heading, .pricing-table [class*="col-"].featured .panel .panel-heading {
        padding-top: 10px; }
    .pricing-table [class^="col-"] .panel, .pricing-table [class*="col-"] .panel {
      margin: 0 0 15px; }
}

.slider-handle {
  background: url(logos/bottles.svg) no-repeat center center;
}
.slider-selection {
  background-color: @color-support-strong;
}
.panel-selected {
  border: 1px solid @color-support-strong;
  border-radius: 10px;
  background-color: @color-support-strong;
    -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;

    .panel-heading {
      h2, h3 {
        color: #fff;
      }
    }

    .panel-body {
      background-color: #FFF;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      border: 1px solid #FFF;
    }
}
/* ---------------- VINIBAR-FEATURE ---------------- */

.vinibar-bandeau {
      margin-top: 0px;
      height: 459px;
      text-align: center;
      p {
        font-size: 24px;
        color: #FFF;
        font-family: 'amaranthregular', Helvetica, Arial, sans-serif;
        font-weight: 400;
        // text-transform: uppercase;
      }
}

#vinibar-feature {
      background: url(img/bandeau-vinibar.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

/* ---------------- FEATURETTES ---------------- */

.dessins {
  max-height: 300px;
  margin-bottom: 50px;
}

.comment{
  display:table;
}

.cell{
  display:table-cell;
    vertical-align:middle;
}

section{
  display: inline-block;
  vertical-align: middle;
}

.featurette-divider {
  margin: 0 0;
}
.featurette {
  overflow: hidden;
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-image{
  width: 150px;
}

.featurette-heading {
  margin-bottom: 50px;
}

.comment{
  display: inline-block;
  vertical-align: middle;

}

#contact{
  text-align: justify;
  padding-bottom: 10px;
}

#main{
  text-align: justify;
}

#selection{
  text-align: justify;
}

#about{
  margin-top: 30px;
}

#services{
  margin:20px;
}


.soif{
  margin: 75px;
}

#img-contact{
  vertical-align: middle;
  margin: auto;
}

// #main, #selection, #contact > p {
//   font-size: 18px;
// }

/* ---------------- FOOTER ---------------- */

#footer-image {
      background: url(img/bouchonsNB3.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.social {
  text-align: center;
  margin-bottom: 30px;
}

.socbuttons{
  padding: 10px;
}

.irritant{
  background-color: @color-support-strong;
  color: #FFF;
}

/*.line {
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255,0.75);
  height: 2px;
}

.lineleft{
  padding: 30px;
}*/


/*.social > img {
  margin: 20px;
}*/



.separateur{
  height: 13vh;
}





footer {
  margin: 20px 0;
  text-align: center;
  padding: 10px 0px 5px 0px;
}



/* RESPONSIVE CSS */

@media (max-width: 1200px) {



}

@media (max-width: 1024px) {


}

@media (max-width: 991px) {

}


@media (max-width: 768px) {




}



@media (max-width: 668px) {


}

@media (max-width: 640px) {


}

@media (max-width: 375px) {

h1 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.section {
  padding: 0px;
}

#selection {
  margin-top: 30px;
}

.ymm-how-to .heading h3 {
  font-size: 19px;
}
}



/* -------------------------------- EXPERIENCEVINIBAR -------------------------------- */

/* ---------------- NAVABAR ---------------- */

.navbar-nomargin {
  margin-bottom: 0;
}

.know-cta-paragraph {
  a { font-size: 1.2em; }
  text-align: right;
  margin-top: 30px;
  margin-bottom: 60px;
}

.know-more-link {
  margin-right: 20px;
}

/* -------------------------------- COMMENTCAMARCHE -------------------------------- */

/* ---------------- NAVABAR ---------------- */

.navbar-faq {
  padding: 5px 5px 5px 6.25px;
  background-color: white;
  border: 0 solid #ebebeb;
  border-bottom-width: 1px;
  border-radius: 0;
}

#products {
  margin-bottom: 20px;
}

#experiencevinibar {
  margin-top: 40px;
}

#categories {
  text-align: center;
  margin: 0 auto;
  h2 {
    margin-bottom: 30px;
    text-align: left;
  }

  .category {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    display: none;
  }

}

#categories-mobile {

  margin-top: 20px;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    display: none;
  }

}

#owl-example {
  border:1px solid #2C3E50;
}

#owl-example .owl-item div{
  padding:5px;
}
#owl-example .owl-item img{
  display: block;
  width: 100%;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.arrow {
  display: none;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}


    .acc-container {
      h1 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      width:90%;
      margin:30px auto 0 auto;
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      -o-border-radius:8px;
      border-radius:8px;
      overflow:hidden;
    }

    .acc-btn {
      width:100%;
      margin:0 auto;
      padding:5px 25px;
      cursor:pointer;
      // background:#34495E;
      // border-bottom:1px solid #2C3E50;
    }

    .acc-content {
      height:0px;
      width:100%;
      margin:0 auto;
      overflow:hidden;
      // background:#2C3E50;
    }

    .acc-content-inner {
      padding:30px;
      // background-color: @color-support-strong;
      // color: #fff;
    }

    .open {
      height: auto;
    }

    .selected {
      color: @color-support-strong;
    }



