/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/mixins.less';
@import '../../vendor/bootstrap/less/utilities.less';
@import '../../vendor/bootstrap/less/scaffolding.less';
@import '../../vendor/bootstrap/less/normalize.less';
@import '../../vendor/bootstrap/less/type.less';
@import '../../vendor/bootstrap/less/grid.less';
@import '../../vendor/bootstrap/less/forms.less';
@import '../../vendor/bootstrap/less/navs.less';
@import '../../vendor/bootstrap/less/tables.less';
@import '../../vendor/bootstrap/less/glyphicons.less';
@import '../../vendor/bootstrap/less/badges.less';
@import '../../vendor/bootstrap/less/navbar.less';
@import '../../vendor/bootstrap/less/buttons.less';
@import '../../vendor/bootstrap/less/wells.less';
@import '../../vendor/bootstrap/less/button-groups.less';
@import '../../vendor/bootstrap/less/responsive-utilities.less';
@import '../../vendor/bootstrap/less/progress-bars.less';
@import '../../vendor/bootstrap/less/input-groups.less';
@import '../../vendor/bootstrap/less/dropdowns.less';



/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right-padded-text {
  padding-right: 50px;
}

.background-colored-text {
    background-color: rgba(0,0,0, 0.4);
}

.overlay {
  color: #fff;
  background: rgba(0,0,0,0.1);
  overflow: auto;
  height: 100%;
  z-index: 2;
}

// ADD PADDING WHEN NAVBARISHERE
.menu-padding {
  padding-top: 60px;
}
.centered {
  text-align: center;
}

.highlight {
  color: #FFFC26;
  font-weight: 700;
}
// HOVER EFFECT

.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Float */
.float {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

/* Wobble Vertical */
@-webkit-keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }

  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }

  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }

  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.wobble-vertical {
  display: inline-block;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-vertical:hover, .wobble-vertical:focus, .wobble-vertical:active {
  -webkit-animation-name: wobble-vertical;
  animation-name: wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


/**
 * Typography
 */

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:800,400,300|Montserrat:700,400);
@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Amaranth:400,700);

html, body {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 15px; }
}
@media (max-width: 400px) {
  html { font-size: 13px; }
}


body {
  font-family: 'Actor', Helvetica, Arial, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-family: 'Amaranth', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.title{
  text-align: center;
}

.strong {
  font-weight: 400;
}

html, body {
  height: 100%;
}

.btn-primary {
  color: #ffffff;
  font-family: 'Amaranth', Helvetica, Arial, sans-serif;
  border-color: @color-support-strong;
  background-color: @color-support-strong;
  border-radius: 50px;

      // &:hover {
      //   background-color: transparent;
      //   color: @main;
      //   border-color: @color-support-strong;
      //   border-width: 1px;
      // }
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: @color-support-strong;
border-color: @color-support-strong;
}

.btn-primary-outline {
  .btn-primary;
  color: @color-support-strong;
  border-color: @color-support-strong;
  background-color: transparent;

      &:hover {
        background-color: @color-support-strong;
        color: #FFF;
      }
}

.landing-btn-strong {
  font-family: 'Amaranth', Helvetica, Arial, sans-serif;
  color: #ffffff;
  background-color: @color-support-strong;
  border-color: @color-support-strong;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 1.6em;
    // &:hover {
    //   background-color: transparent;
    //   color: @color-support-strong;
    // }
}

/* ---------------- NAVBAR ---------------- */

#navbar-first {
  padding: 5px 5px 5px 6.25px;
  background-color: transparent;
  border-color: transparent;
}

#navbar-second {
  padding: 5px 5px 5px 6.25px;
  background-color: white;
  border: 0 solid @color-grey;
  border-bottom-width: 1px;
  border-radius: 0;
}

#navbar-second li > a:hover, #navbar-second li > a:focus {
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  color: @color-support-strong;
  .bn-primary {
    border-color: @color-support-strong;
  }
}

#navbar-first li > a:hover, #navbar-first li > a:focus {
  cursor: pointer;
  text-decoration: none;
  background-color: @color-support-strong;
  color: #FFF;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
  border-color: @color-grey;
}

.loginbtn {
  background-color: transparent;
  color: #ffffff;
  padding: 10px;
  margin-right: 15px;
}

.mini-loginbtn {
  color: #800000;
  background-color: #fff;
  border-color: #fff;
  border-radius: 50px;
  margin-bottom: 10px;
}

.mini-loginbtn-container {
  text-align: center;
}

.section{
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 80px;
  margin-bottom: 80px;
}


/* ---------------- HEADER ---------------- */

.headline {
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;

  h2 {
    font-family: 'Amaranth', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 2px;
    text-transform: uppercase;
    // text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  }

  h3 {
    font-family: 'Actor', Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.25em;
    // text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
  }

    .landing-btn-strong {
      font-family: 'Amaranth', Helvetica, Arial, sans-serif;
      color: #ffffff;
      background-color: @color-support-strong;
      border-color: @color-support-strong;
      padding: 10px 20px;
      border-radius: 50px;
      font-size: 1.6em;
        // &:hover {
        //   background-color: transparent;
        //   color: @color-support-strong;
        // }
    }

    .headers {
      margin-bottom: 40px;
    }

    .cta {
      text-align: center;
    }

    .tagline {
      text-transform: uppercase;
    }
}

.headline-xs {
  padding: 10px 0px 10px;
  margin-bottom: 10px;
}

.tagline-xs{
  color: #fff;
  margin: 5px;
  text-align: center;
  padding-bottom: 20px;
}



.header-image {
      margin: 0;
      height: 100%;
      width: 100%;
      background:

      url(img/background-tonio-carafe.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.header-image2 {
      margin: 0;
      height: 100%;
      width: 100%;
      background:

      url(img/background-fraise-vin.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.know-more {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 20px;
  a {
    color: @main;
    font-size: 30px;
  }
}


.header-xs {
      margin: 0;
      padding: 0;
      background-color: rgb(128, 0, 0);
}

.brand > img {
  height: 45px;
}

/* ---------------- PROPVAL ---------------- */

.badge-custom {
  display: inline-block;
  padding: 3px 7px;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  color: #fff;
  background-color: @main;
  border-radius: 50%;
  width: 45px;
  height: 45px;
}


.getstarted {
  margin-top: 100px;
  margin-bottom: 100px;
}

.propval {
  text-align: center;
  padding: 10px 0px 5px 0px;
    p {
      height: 100%;
      line-height: 100%;
    }

    h1 {
      color: @color-support-strong;
      text-transform: uppercase;
    }
    h3 {
      text-transform: uppercase;
    }

}



.tnp{
  text-align: center;
  padding: 0px 15px 5px;
}

.tnp > h3 {
  text-align: center;
  font-size: 16px;
}

.propcontent{
  padding-bottom: 15px;
}

.propcontent > h3{
  text-align: center;
}



/* ---------------- WHATDOIGET ---------------- */
#whatdoiget {

    p {
        font-family: 'Amaranth', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 20px;
    }

    h2 {
        margin-bottom: 50px;
    }

    background-color: @color-support-strong;
    color: #FFF;
    text-align: center;
    margin: 0;
    padding-bottom: 70px;
    padding: 50px;

    .v-align-text {
      position: relative;
      top: 130px;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }
}

.svg-yellow {
  fill: RGB(71, 173, 104);
}

.svg-red {
  fill: @color-brand;
}

.svg-blue {
  fill: @color-support-strong;
}

/* ---------------- VINIBAR-FEATURE ---------------- */

.vinibar-bandeau {
      margin-top: 0px;
      height: 459px;
      text-align: center;
      p {
        font-size: 24px;
        color: #FFF;
        font-family: 'Amaranth', Helvetica, Arial, sans-serif;
        font-weight: 400;
        // text-transform: uppercase;
      }
}

#vinibar-feature {
      background: url(img/bandeau-vinibar.jpg) no-repeat center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

/* ---------------- FEATURETTES ---------------- */

.dessins {
  max-height: 300px;
}

.comment{
  display:table;
}

.cell{
  display:table-cell;
    vertical-align:middle;
}

section{
  display: inline-block;
  vertical-align: middle;
}

.featurette-divider {
  margin: 0 0;
}
.featurette {
  overflow: hidden;
}

.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

.featurette-image{
  width: 150px;
}

.featurette-heading {
  font-size: 30px;
}

.comment{
  display: inline-block;
  vertical-align: middle;

}

#contact{
  text-align: justify;
  padding-bottom: 10px;
}

#main{
  text-align: justify;
}

#selection{
  text-align: justify;
}

#about{
  margin-top: 30px;
}

#services{
  margin:20px;
}


.soif{
  margin: 75px;
}

#img-contact{
  vertical-align: middle;
  margin: auto;
}

#main, #selection, #contact > p {
  font-size: 18px;
}

/* ---------------- FOOTER ---------------- */

#footer-image {
      background: url(img/bouchonsNB3.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
}

.social {
  text-align: center;
  margin-bottom: 30px;
}

.socbuttons{
  padding: 10px;
}

.irritant{
  background-color: @color-support-strong;
  color: #FFF;
}

/*.line {
  background: #333;
  box-shadow: 0 1px 0 rgba(255,255,255,0.75);
  height: 2px;
}

.lineleft{
  padding: 30px;
}*/


/*.social > img {
  margin: 20px;
}*/



.separateur{
  height: 13vh;
}





footer {
  margin: 20px 0;
  text-align: center;
  padding: 10px 0px 5px 0px;
}



/* RESPONSIVE CSS */

@media (max-width: 1200px) {

.tagline > h2 {font-size: 40px;}
.featurette-image.pull-left {margin-right: 20px;}
.featurette-image.pull-right {margin-left: 20px;}
.featurette-heading {font-size: 35px;}

}

@media (max-width: 1024px) {

.tagline > h2 {
  font-family: ostrich_sansblack;
  font-size: 30px;
  font-weight: 400;
  padding-top: 9px;
  padding-bottom: 6px;
  /*text-shadow: 0 2px 20px #000000;*/
}
.featurette-divider {margin: 40px 0;}
.featurette-image {max-width: 50%;}
.featurette-image.pull-left {margin-right: 10px;}
.featurette-image.pull-right {margin-left: 10px;}
.featurette-heading {font-size: 30px;}
.footer-image {
      background: url(img/bouchonsNB3) no-repeat center center;
            -webkit-background-size: 100%;
            -moz-background-size: 100%;
            -o-background-size: 100%;
            background-size: 100%;
}
}

@media (max-width: 991px) {
#contact{padding-bottom: 30px;}
}


@media (max-width: 768px) {

.tagline > h2 {
  font-family: ostrich_sansblack;
  font-size: 20px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 3px;
}
.container {margin: 0 15px;}
.featurette-divider {margin: 40px 0;}
.featurette-heading {font-size: 25px;}


}



@media (max-width: 668px) {

.headline > .container > h1 {font-size: 70px;}
.headline > .container > h2 {font-size: 32px;}
.featurette-divider {margin: 30px 0;}
}

@media (max-width: 640px) {

.comingsoon {
  text-align: right;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font-weight: 400;
    font-family: Actor;
    font-size: 15px;
    padding-right: 20px;
    padding-left: 50%;

}

.comingsoon-cover {
  text-align: right;
  float: right;
}

.headerbeta {
  margin: -19.5px 15px 40px;
}

.tagline > h2 {
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: ASAP;
  font-size: 13px;
  font-weight: 400;
}
.btn-primary{
  font-size: 13px;
  font-family: ASAP;
}
}

@media (max-width: 375px) {

h1 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

.section {
  padding: 0px;
}

.commentcamarche h2 {
  text-align: center;
  font-size: 17px;
}

#main, #selection, #contact > p {
  text-align: center;
  font-size: 16px;
}

.commentcamarchefin h2 {
  text-align: center;
  font-size: 17px;
}

#selection {
  margin-top: 30px;
}

.ymm-how-to .heading h3 {
  font-size: 19px;
}
}