/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;


/**
 * Color
 */

@color-blue: #3276b1;
@color-red: #600000;
@color-grey: #ebebeb;
@color-green: #309B51;
@color-marine: #34495e;
@color-marine-dark: #2c3e50;


@navbar-default-bg: #34495e;
@navbar-default-border: #2c3e50;


@brand-primary: #34495e;

@marineblue: #34495e;
@marineblueb: #2c3e50;
@main: #3276b1;

@color-brand: #800000;
@color-support: #1F89CB;
@color-support-strong: #006DB2;
@color-highlight: #FFFC26;