<!DOCTYPE html>
<html>
    <head>
        <title>Vinify | des vins de qualité, adaptés à vos goûts, toujours à portée de main</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- social media tags -->

        <meta name="description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget">
        <link rel="publisher" href="https://plus.google.com/100061614021617374779"/>
        <meta property="og:title" content="Vinify, du vin de qualité sélectionné pour moi !"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="https://www.vinify.co/assets/img/background-tonio-carafe2.jpg"/>
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="800" />
        <meta property="og:description" content="1/ Je commande mon vinibar. 2/ Je déguste et je note ma sélection. 3/ Je recharge avec des vins plus proches de mes goûts. Avec Vinify, je ne suis plus jamais déçu par une bouteille de vin ! Sans abonnement et entièrement sur mesure, Vinify s'adapte totalement à mes goûts et à mon budget."/>
        <meta name="twitter:title" content="Vinify, le bar à vin sur mesure. Livré chez vous, selon vos goûts.">
        <meta name="twitter:description" content="1/ Je commande mon vinibar. 2/ Je déguste et je note ma sélection. 3/ Je recharge avec des vins plus proches de mes goûts. Avec Vinify, je ne suis plus jamais déçu par une bouteille de vin ! Sans abonnement et entièrement sur mesure, Vinify s'adapte totalement à mes goûts et à mon budget.">
        <meta name="twitter:image" content="http://vinify.co/img/logo_white.png">
        <meta name="keywords" content="vin, goût, goûts, petit ballon, box, abonnement, cadeau">

        <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="icon" type="image/png" href="assets/img/favicon-primary-primary.png" />


        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
        <!-- start Mixpanel -->
            <script type="text/javascript">(function(f,b){if(!b.__SV){var a,e,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");
                  for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=f.createElement("script");a.type="text/javascript";a.async=!0;a.src="//cdn.mxpnl.com/libs/mixpanel-2.2.min.js";e=f.getElementsByTagName("script")[0];e.parentNode.insertBefore(a,e)}})(document,window.mixpanel||[]);
                  mixpanel.init("f6bd53dd567cdbc693bebdc18e1a4995");</script>
            <!-- end Mixpanel -->
          <!-- Google Analytics -->
                <script>
                  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                  ga('create', 'UA-53542916-1', 'auto');
                  ga('send', 'pageview');

                </script>
</head>

<body>


<!-- GET STARTED -->

      <nav class="navbar" role="navigation" id="navbar-second">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <a href="index.html" id="home-logo-brand-second"><img alt="" src="assets/logos/logo.png" style="height:45px" id="mf2"/></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Cadeau <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="https://start.vinify.co/#/cadeau/vinibar/formule" id="home-navbar-second-gift" class="btn-navbar-second">
                      Offrir
                  </a></li>
                <li><a href="https://start.vinify.co/#/recevoir" id="home-navbar-second-gift" class="btn-navbar-second">
                      Recevoir
                  </a></li>
              </ul>
              </li>
                <li>
                  <a href="#getstarted" id="home-navbar-second-faq" class="btn-navbar-second">
                      Comment ça marche ?
                  </a>
                </li>
                <li>
                  <a href="#how-it-works" id="home-navbar-second-experience" class="btn-navbar-second">
                      L'expérience Vinify
                  </a>
                </li>
                <li>
                  <a href="http://blog.vinify.co" id="home-navbar-second-contact" class="btn-navbar-second">
                     Blog
                  </a>
                </li>
                <li>
                  <a href="https://start.vinify.co/" id="home-navbar-second-start" class="btn-navbar-second btn-navbar-cta">
                     Démarrer
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>


<div class="content">

      <div class="vinibar-bandeau" id="vinibar-feature">
        <div class="overlay">
          <p class="vertical-align"><span>Les conseils et l’offre d’un caviste qui vous connaît, à portée de main</span></p>
        </div>
      </div>

      <div id="exp-vinib"></div>

      <div class="section">
          <div class="container">
               <div class="col-lg-8 col-md-8 pull-left" id="selection">
                <h2 class="featurette-heading"><span class="text-muted">Une sélection</span> sur mesure</h2>
                <br>
                <p>
                  Contrairement aux abonnements en vin qui envoient les même bouteilles à tous leurs clients, la sélection de votre Vinibar est sur-mesure.
                </p>
                <p>
                  A chaque envoi, les vins sont choisis en fonction de vos goûts et des feedbacks que vous avez envoyés sur les bouteilles précédentes.
                <p>
                <p class=" visible-lg visible-md know-cta-paragraph">
                  <!-- <a class="know-more-link" href="">En savoir plus</a> -->
                  <a id="exp-start-1" href="https://start.vinify.co/" class="btn btn-primary-outline btn-outline-blue">Je découvre ma sélection personnalisée</a>
                  <!-- <a id="exp-start-1" href="https://start.vinify.co/?product=v" class="btn btn-primary-outline btn-outline-blue">Je découvre ma sélection personnalisée</a> -->
                </p>
               </div>
               <div class="col-lg-4 col-md-4 pull-right  visible-lg visible-md img-experience">
                  <img class="img img-responsive pull-right dessins" src="assets/img/vinify-tailleur.png" id="img-contact">
              </div>
          </div>
        </div>


        <div class="container">
            <hr class="featurette-divider">
        </div>

         <div class="section">
              <div class="container">
                    <div class="col-lg-4 col-md-4 pull-left visible-lg visible-md img-experience">
                      <img class="img img-responsive pull-left dessins" src="assets/img/vinify-caviste.jpg">
                    </div>
                    <div class="col-lg-8 col-md-8 " id="main">
                      <h2 class="featurette-heading"><span class="text-muted">Du vin toujours</span> à portée de main</h2>
                      <br>
                      <p>
                        Vous partez chez des amis mais votre supermarché est fermé ? <br> Il n'y a plus de vin au milieu d'un dîner chez vous?
                      </p>
                      <p>
                        Avec le Vinibar, la bonne bouteille est toujours à portée de main. Le bar n'est jamais vide, nous l'approvisionnons en vins sur-mesure au rythme de votre consommation.
                      </p>
                      <p class="know-cta-paragraph">
                        <!-- <a class="know-more-link" href="">En savoir plus</a> -->
                        <a id="exp-start-2" href="https://start.vinify.co/" class="btn btn-primary-outline btn-outline-blue">Je démarre l'aventure</a>
                      </p>
                    </div>
              </div>
        </div>

         <div class="container">
            <hr class="featurette-divider">
        </div>

        <div class="section">
          <div class="container">
                <div class="col-lg-8 col-md-8" id="contact">
                  <h2 class="featurette-heading"><span class="text-muted">Comprendre ses goûts,</span> savoir choisir son vin</h2>
                  <br>
                  <p class="right-padded-text">
                    Avec un langage simple, Vinify vous propose de comprendre vos goûts et d'apprendre à choisir votre vin.
                  </p>
                  <p class="right-padded-text">
                    A chaque dégustation, vous donnez une note au vin qui est alors ajouté à votre profil. Vinify analyse ces notes et trouve les points communs des vins qui vous plaisent. Vous découvrez vos goûts et apprenez à mieux choisir vos vins.
                  </p>
                  <p class="right-padded-text know-cta-paragraph  visible-lg visible-md ">
                    <!-- <a class="know-more-link" href="">En savoir plus</a> -->
                    <a id="exp-start-3" href="https://start.vinify.co/" class="btn btn-primary-outline btn-outline-blue">J'apprends en dégustant !</a>
                  </p>
                </div>
                <div class="col-lg-4 col-md-4  visible-lg visible-md img-experience">
                  <img class="img img-responsive dessins" src="assets/img/vinify-supermarket.png" id="img-contact">
                </div>
          </div>
        </div>


    <div class="irritant" id="footer">
      <div class="container">

        <!-- FOOTER -->
        <footer>
          <p>
            Merci à <a class="highlight" href="http://amelie-caudron.tumblr.com/">Amélie</a> pour ses supers dessins.
          </p>
          <p>
            Copyright &copy; Vinify 2014 &middot; L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
          </p>
        </footer>
        <!-- /END OF FOOTER -->
    </div><!-- /container -->
  </div>
</div><!-- /CONTENT -->


  <!-- javascript -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

<!-- vertical center -->
<script type="text/javascript">
    $('.img-experience').flexVerticalCenter({parentSelector: '.container'});
</script>

<!-- tooltip -->
<script type="text/javascript">
    $('.tooltip-enabled').tooltip();
</script>

<!-- MIXPANEL -->
<script type="text/javascript">
      mixpanel.track_links("#exp-to-home", 'Clicked on exp/to-home');
      mixpanel.track_links("#exp-to-faq", 'Clicked on exp/to-faq');
      mixpanel.track_links("#exp-discover", 'Clicked on exp/discover');
      mixpanel.track_links("#exp-start", 'Clicked on exp/start');
      mixpanel.track_links("#exp-start-1", 'Clicked on exp/start-1');
      mixpanel.track_links("#exp-start-2", 'Clicked on exp/start-2');
      mixpanel.track_links("#exp-start-3", 'Clicked on exp/start-3');
        mixpanel.track('page viewed', {
            'page name' : 'exp',
            'url' : window.location.pathname
        });
</script>




  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

    <script type="text/javascript">
      var _ae = {
        'pid': '546b6ea723b944df498b4e23',
        'advertiserFirst': 21600, // 15 days in mins
        'allowSiteUnder': false,
        'allowIframing': false,
        'host': 'https://lb.affilae.com'
      };

      (function() {
        var element = document.createElement('script'); element.type = 'text/javascript'; element.async = true;
        element.src = '//static.affilae.com/ae-v3.2.js';
        var scr = document.getElementsByTagName('script')[0]; scr.parentNode.insertBefore(element, scr);
      })();
    </script>

</body>

</html>
