<!DOCTYPE html>
<html>
    <head>
        <title>Vinify | des vins de qualité, adaptés à vos goûts, toujours à portée de main</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- social media tags -->

        <meta name="description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget">
        <link rel="publisher" href="https://plus.google.com/100061614021617374779"/>
        <meta property="og:title" content="Vinify, du vin de qualité sélectionné pour moi !"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.vinify.co/img/LogoVinifyMini2.png"/>
        <meta property="og:description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget"/>
        <meta name="twitter:title" content="Vinify, du vin de qualité sélectionné pour moi !">
        <meta name="twitter:description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget">
        <meta name="twitter:image" content="http://vinify.co/img/LogoVinifyCo.png">
        <meta name="keywords" content="vin, goût, goûts, petit ballon, box, abonnement, cadeau">

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

</head>

<body>

  <div class="header-image hidden-xs" id="splashscreen">
    <div class="overlay">
      <div class="container-fluid">
          <nav class="navbar" role="navigation" id="navbar-first">
            <div class="navbar-header">
               <a href="#top"><img alt="" src="assets/img/LogoVinifyCo.png" style="height:45px" id="mf2"/></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="http://app.vinify.co" class="btn btn-primary-outline" id="">
                      <i class="fa fa-user"></i>  Login
                  </a>
                </li>
            </ul>
          </nav>

          <div class="headline">
              <div class="row headers">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <h2 id="tagline" class="centered"><span class="background-colored-text">Découvrez des vins à vos goûts sans efforts</span></h2>
                    <h3 class="centered"><span id="tagline-caption" class="background-colored-text">Notez des vins et recevez au rythme de votre consommation <br> une sélection qui s'adapte à vos goûts</span></h3>
                </div>
              </div>
              <div class="row cta">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="http://eepurl.com/Mgtcb" class="grow btn btn-primary landing-btn-strong">
                     <!--  <i class="fa fa-shopping-cart"></i> --> Je commande
                    </a>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <span class="know-more">
      <a href="#navbar-second">
        <i class="fa fa-chevron-down"></i>
      </a>
    </span>
  </div>

    <div class="header-xs visible-xs">

      <nav class="navbar" role="navigation">

          <div class="navbar-header">
             <a href="#top"><img alt="" src="assets/img/LogoVinifyINV.png" style="height:45px" id="mf2"/></a>
          </div>

      </nav>

        <div class="headline-xs">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 tagline-xs">
                <p>des vins de qualité, adaptés à vos goûts, toujours à portée de main</p>
              </div>
            </div>
            <div class="mini-loginbtn-container">
              <div class="row miniloginbutton">
                  <a href="http://vinify.co/inscription.html" class="btn mini-loginbtn"> <i class="fa fa-shopping-cart"></i> Je commande </a>
              </div>
              <div class="row miniloginbutton">
                  <a href="http://app.vinify.co" class="btn mini-loginbtn" id=""><i class="fa fa-user"></i>  Login</a>
              </div>
            </div>
          </div>
        </div>

    </div>

<!-- GET STARTED -->

      <nav class="navbar" role="navigation" id="navbar-second">
        <div class="container-fluid">
          <div class="navbar-header">
             <a href="#splashscreen"><img alt="" src="assets/img/LogoVinify.svg" style="height:45px" id="mf2"/></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="http://app.vinify.co" class="btn-navbar-second">
                    L'expérience Vinibar
                </a>
              </li>

              <li>
                <a href="http://app.vinify.co" class="btn-navbar-second">
                    Comment ça marche ?
                </a>
              </li>
              <li class="dropdown">
                    <a class="btn-navbar-second dropdown-toggle" data-toggle="dropdown">
                      Cadeau
                      <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Offrir</a></li>
                      <li><a href="#">Recevoir</a></li>
                    </ul>
              </li>
              <li>
                <a href="http://app.vinify.co" class="btn-navbar-second">
                    Offre Découverte
                </a>
              </li>
              <li>
                <a href="http://app.vinify.co" class="btn-navbar-second btn-primary">
                   Démarrer l'aventure
                </a>
              </li>
          </ul>
        </div>
      </nav>


<div class="content">
       <div class="section getstarted" id="getstarted">
        <div class="container">
          <div class="row propval">
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                <h1><span class="badge-custom">1</span></h1>
                <h3>Je reçois une première sélection personnalisée</h3>
              </div>
              <p>Je démarre l’aventure avec quelques questions simples sur mon palais pour déterminer mes préférences et recevoir 9 bouteilles choisies pour moi et un Vinibar pour les ranger.</p>
            </div>
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                  <h1><span class="badge-custom">2</span></h1>
                 <h3>Je découvre et je note les vins <br> choisis pour moi</h3>
              </div>

              <p>Je note mes vins dans mon application où je retrouve des conseils de dégustation et les accords mets-vin et des informations sur le producteur. Plus je note, plus Vinify connaît mes goûts !</p>

            </div>
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                  <h1><span class="badge-custom">3</span></h1>
                  <h3>Je recommande à mon rythme <br> des vins  que je vais adorer</h3>
              </div>
              <p>Je choisis mon prix, et je recommande quand j’ai envie, sans engagement. Vinify me propose des sélections en fonctions des notes que j’ai mises. Je ne serais plus  jamais déçu par une bouteille de vin.</p>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->
  <!-- /GET STARTED -->

      <div class="container">
          <hr class="featurette-divider">
      </div>

      <div id="whatdoiget">
          <div class="container">
            <h2 class="featurette-heading">Ce que je reçois dans mon Vinibar</h2>
            <div class="row comment">
               <div class="col-lg-4 col-md-4 v-align-text">
                <p>
                 Une sélection sur-mesure <br>
                 <span class="highlight">9 bouteilles pour 99€</span>
                </p>
                <p>
                 Un rack en bois pour les ranger,<br>
                 le <span class="highlight"> Vinibar.</span>
                <p>
               </div>
               <div class="col-lg-4 col-md-4 cell">
                  <img class="img img-responsive hidden-xs hidden-sm dessins" src="assets/img/hipstercadeau.png" id="img-contact">
              </div>
               <div class="col-lg-4 col-md-4 v-align-text">
                <p>
                 L'accès à <span class="highlight">l'application Vinify</span> <br> pour les noter.
                </p>
                <p>
                 Des conseils et des accords mets-vins pour les déguster.
                <p>
               </div>
            </div>
          </div>
        </div>

       <div class="section" id="badges">
        <div class="container">
          <div class="row propval">
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-blue" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 60.9033 99.082)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="27">SANS</tspan><tspan x="-20.911" y="19.2" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="16">ENGAGEMENT</tspan></text>
                </g>
                </svg>
              </div>
              <p>Le Vinibar, c'est sans engagement ! <br> Je recharge par 3 bouteiles quand j'ai envie, dans la gamme qui me convient, de 29 à 49 euros.</p>
            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-red" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 44.1963 95.0117)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="14">PRODUCTEURS</tspan><tspan x="-3.031" y="16.8" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="14">INDÉPENDANTS</tspan></text>
                </g>
                </svg>
              </div>

              <p>Pas de grandes marques, je découvre des producteurs indépendants qui élaborent leur produit avec passion et tradition.</p>

            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-yellow" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 37.4668 97.1348)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="19">J’APPRENDS</tspan><tspan x="5.225" y="16.8" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="14">EN DÉGUSTANT</tspan></text>
                </g>
                </svg>
              </div>
              <p>Sans jargon ni snobisme, je progresse par la dégustation. C'est la seule manière de découvrir mes goûts.</p>
            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-blue" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 69.2119 91.709)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="26">-15%</tspan><tspan x="-18.821" y="16.8" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="14">SUR LES VINS</tspan><tspan x="-21.166" y="33.6" fill="#FFFFFF" font-family="'Montserrat-Bold'" font-size="14">QUE J’AI AIMÉ</tspan></text>
                </g>
                </svg>
              </div>
              <p>Je rachète les vins qui m'ont le plus plû à tarif préférentiel pour constituer ma cave, ou simplement pour le partager</p>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->
      <!-- /badges -->

      <div id="vinibar-feature">

          <p class="vertical-align"><span class="background-colored-text">Les conseils et l’offre d’un caviste qui vous connaît, à portée de main</span></p>

      </div>


      <div class="section" id="experiencevinibar">
          <div class="container">
            <div class="row comment">
               <div class="col-lg-7 col-md-7 pull-left cell" id="selection">
                <h2 class="featurette-heading"><span class="text-muted">Une sélection</span> sur mesure</h2>
                <br>
                <p>
                  Contrairement aux abonnements en vin qui envoient les même bouteilles à tous leurs clients, la sélection de votre <b>Vinibar</b> est sur-mesure.
                </p>
                <p>
                  A chaque envoi, les vins sont choisis en fonction de vos goûts et des feedbacks que vous avez envoyés sur les bouteilles précédentes.
                <p>
               </div>
               <div class="col-lg-4 col-md-4 cell pull-right">
                  <img class="img img-responsive pull-right hidden-xs hidden-sm dessins" src="assets/img/vinify-tailleur.png" id="img-contact">
              </div>
            </div>
          </div>
        </div>


        <div class="container">
            <hr class="featurette-divider">
        </div>

         <div class="section">
              <div class="container">
               <div class="row">
                    <div class="col-lg-4 col-md-4 pull-left visible-lg visible-md">
                      <img class="img img-responsive pull-left dessins" src="assets/img/vinify-caviste.jpg">
                    </div>
                    <div class="col-lg-7 col-md-7" id="main">
                      <h2 class="featurette-heading"><span class="text-muted">Du vin toujours</span> à portée de main</h2>
                      <br>
                      <p>
                        Vous partez chez des amis mais votre supermarché est fermé ? <br> Il n'y a plus de vin au milieu d'un dîner chez vous?
                      </p>
                      <p>
                        Avec le <b>Vinibar</b>, la bonne bouteille est toujours à portée de main. Le bar n'est jamais vide, nous l'approvisionnons en vins sur-mesure au rythme de votre consommation.
                      </p>
                    </div>
                </div>
              </div>
        </div>

         <div class="container">
            <hr class="featurette-divider">
        </div>

        <div class="section">
          <div class="container">
              <div class="row">
                <div class="col-lg-8 col-md-8" id="contact">
                  <h2 class="featurette-heading"><span class="text-muted">Comprendre ses goûts,</span> savoir choisir son vin</h2>
                  <br>
                  <p class="right-padded-text">
                    Avec un langage simple, <b>Vinify</b> vous propose de comprendre vos goûts et d'apprendre à choisir votre vin.
                  </p>
                  <p class="right-padded-text">
                    A chaque dégustation, vous donnez une note au vin qui est alors ajouté à votre profil. <b>Vinify</b> analyse ces notes et trouve les points communs des vins qui vous plaisent. Vous découvrez vos goûts et apprenez à mieux choisir vos vins.
                  </p>
                </div>
                <div class="col-lg-4 col-md-4">
                  <img class="img img-responsive dessins" src="assets/img/vinify-supermarket.png" id="img-contact">
                </div>
              </div>
          </div>
        </div>

      <div class="footer-image hidden-xs">
        <div class="footline">
          <div class="container" style="text-align:center">

          </div>

        </div>
      </div>


       <hr class="featurette-divider visible-xs" id="lastdivider">



      <div class="section">

        <div class="container">

          <div class="row social">

              <div class="row">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                  <div class="line"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <h1>Contactez-nous !</h1>
                </div>
                <div class="col-lg-2 col-md-2">
                 <div class="line"></div>
                </div>
              </div>
              <div class="row">
              <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 socbuttons">
                <a href="http://facebook.com/vinify.co" target="_blank"><img alt="" src="assets/img/fb-icon.png"></a>
                <h3>Facebook</h3><a href="http://facebook.com/vinify.co" "_blank">vinify</a>
              </div>

              <div class="col-lg-2 col-md-2 socbuttons">
                <a href="http://twitter.com/vinifyco" target="_blank"><img alt="" src="assets/img/twitter-icon.png"></a>
                <h3>Twitter</h3><a href="http://twitter.com/vinifyco" "_blank">@vinifyco</a>
              </div>

              <div class="col-lg-2 col-md-2 socbuttons">
                <a href="mailto:founders@vinify.co" target="_blank"><img alt="" src="assets/img/mail-icon.png"></a>
                <h3>Mail</h3><a href="mailto:founders@vinify.co" "_blank">founders@vinify.co</a>
              </div>
            </div>
          </div><!-- /.row -->

        </div><!-- /.container -->

      </div>

    <div class="irritant" id="footer">
      <div class="container">

        <!-- FOOTER -->
        <footer>
          <p>
            Merci à <a class="highlight" href="http://amelie-caudron.tumblr.com/">Amélie</a> pour ses supers dessins.
          </p>
          <p>
            Copyright &copy; <b>Vinify</b> 2013 &middot; L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
          </p>
        </footer>
        <!-- /END OF FOOTER -->
    </div><!-- /container -->
  </div>
</div><!-- /CONTENT -->


  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

  <script>
    $('.headline').flexVerticalCenter({ cssAttribute: 'padding-top', parentSelector: '.header-image', verticalOffset: '-50px' });
  </script>

  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

  <script>
    $(document).ready(function () {

        var menu = $('#navbar-second');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY) {
                $('#navbar-second').addClass('navbar-fixed-top');
                $('.content').addClass('menu-padding');
            } else {
                $('#navbar-second').removeClass('navbar-fixed-top');
                $('.content').removeClass('menu-padding');
            }


        }

        document.onscroll = scroll;

    });
  </script>

</body>

</html>
