<!DOCTYPE html>
<html>
    <head>
        <title>Vinify | des vins de qualité, adaptés à vos goûts, toujours à portée de main</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- social media tags -->

        <meta name="description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget">
        <link rel="publisher" href="https://plus.google.com/100061614021617374779"/>
        <meta property="og:title" content="Vinify, du vin de qualité sélectionné pour moi !"/>
        <meta property="og:type" content="website"/>
        <meta property="og:image" content="http://www.vinify.co/img/LogoVinifyMini2.png"/>
        <meta property="og:description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget"/>
        <meta name="twitter:title" content="Vinify, du vin de qualité sélectionné pour moi !">
        <meta name="twitter:description" content="Ayez toujours à portée de main du vin sélectionné pour vous, selon vos goûts et votre budget">
        <meta name="twitter:image" content="http://vinify.co/img/LogoVinifyCo.png">
        <meta name="keywords" content="vin, goût, goûts, petit ballon, box, abonnement, cadeau">

        <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">


        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

</head>

<body>

  <div class="header-image hidden-xs" id="splashscreen">
    <div class="overlay">
      <div class="container-fluid">
          <nav class="navbar" role="navigation" id="navbar-first">
            <div class="navbar-header">
               <a href="#top"><img alt="" src="assets/img/LogoVinifyCo.png" style="height:45px" id="mf2"/></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="http://app.vinify.co" class="btn btn-primary-outline" id="">
                      <i class="fa fa-user"></i>  Login
                  </a>
                </li>
            </ul>
          </nav>

          <div class="headline">
              <div class="row headers">
                <div class="col-lg-12 col-md-12 col-sm-6">
                    <h2 id="tagline" class="centered"><span>Découvrez des vins à vos goûts sans efforts</span></h2>
                    <h3 class="centered"><span id="tagline-caption">Notez des vins et recevez au rythme de votre consommation<br> une sélection qui s'adapte à vos goûts</span></h3>
                </div>
              </div>
              <div class="row cta">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                    <a href="http://eepurl.com/Mgtcb" class="grow btn btn-primary landing-btn-strong">
                     <!--  <i class="fa fa-shopping-cart"></i> --> Je commande
                    </a>
                  </div>
              </div>
          </div>
        </div>
    </div>

    <span class="know-more">
      <a href="#navbar-second">
        <i class="fa fa-chevron-down"></i>
      </a>
    </span>
  </div>

    <div class="header-xs visible-xs">

      <nav class="navbar" role="navigation">

          <div class="navbar-header">
             <a href="#top"><img alt="" src="assets/img/LogoVinifyINV.png" style="height:45px" id="mf2"/></a>
          </div>

      </nav>

        <div class="headline-xs">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 tagline-xs">
                <p>des vins de qualité, adaptés à vos goûts, toujours à portée de main</p>
              </div>
            </div>
            <div class="mini-loginbtn-container">
              <div class="row miniloginbutton">
                  <a href="http://vinify.co/inscription.html" class="btn mini-loginbtn"> <i class="fa fa-shopping-cart"></i> Je commande </a>
              </div>
              <div class="row miniloginbutton">
                  <a href="http://app.vinify.co" class="btn mini-loginbtn" id=""><i class="fa fa-user"></i>  Login</a>
              </div>
            </div>
          </div>
        </div>

    </div>

<!-- GET STARTED -->

      <nav class="navbar" role="navigation" id="navbar-second">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
             <a href="#splashscreen"><img alt="" src="assets/img/LogoVinify.svg" style="height:45px" id="mf2"/></a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                  <a href="#exp-vinib" class="btn-navbar-second">
                      L'expérience Vinibar
                  </a>
                </li>

                <li>
                  <a href="http://app.vinify.co" class="btn-navbar-second">
                      Comment ça marche ?
                  </a>
                </li>
                <li class="dropdown">
                      <a class="btn-navbar-second dropdown-toggle" data-toggle="dropdown">
                        Cadeau
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Offrir</a></li>
                        <li><a href="#">Recevoir</a></li>
                      </ul>
                </li>
                <li>
                  <a href="http://app.vinify.co" class="btn-navbar-second">
                      Offre Découverte
                  </a>
                </li>
                <li>
                  <a href="http://app.vinify.co" class="btn-navbar-second btn-primary">
                     Démarrer l'aventure
                  </a>
                </li>
            </ul>
          </div>
        </div>
      </nav>


<div class="content">
       <div class="section getstarted" id="getstarted">
        <div class="container">
          <div class="row propval">
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                <h1><span class="badge-custom">1</span></h1>
                <h3>Je reçois une première sélection personnalisée</h3>
              </div>
              <p>Je démarre l’aventure avec quelques questions simples sur mon palais pour déterminer mes préférences et recevoir 9 bouteilles choisies pour moi et un Vinibar pour les ranger.</p>
            </div>
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                  <h1><span class="badge-custom">2</span></h1>
                 <h3>Je découvre et je note les vins <br> choisis pour moi</h3>
              </div>

              <p>Je note mes vins dans mon application où je retrouve des conseils de dégustation et les accords mets-vin et des informations sur le producteur. Plus je note, plus Vinify connaît mes goûts !</p>

            </div>
            <div class="col-lg-4 col-md-4 propcontent">
              <div class="row tnp">
                  <h1><span class="badge-custom">3</span></h1>
                  <h3>Je recommande à mon rythme <br> des vins  que je vais adorer</h3>
              </div>
              <p>Je choisis mon prix, et je recommande quand j’ai envie, sans engagement. Vinify me propose des sélections en fonctions des notes que j’ai mises. Je ne serais plus  jamais déçu par une bouteille de vin.</p>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->
  <!-- /GET STARTED -->

      <div class="section" id="whatdoiget">
          <div class="container">
            <h2 class="featurette-heading">Ce que je reçois dans mon Vinibar</h2>
            <div class="row comment">
               <div class="col-lg-4 col-md-4 v-align-text hidden-xs hidden-sm">
                  <p>
                   Une sélection sur-mesure <br>
                   <span class="highlight">9 bouteilles pour 99€</span>
                  </p>
                  <p>
                   Un rack en bois pour les ranger,<br>
                   le <span class="highlight"> Vinibar.</span>
                  <p>
               </div>
               <div class="col-lg-4 col-md-4 visible-xs visible-sm">
                  <p>
                   Une sélection sur-mesure <br>
                   <span class="highlight">9 bouteilles pour 99€</span>
                  </p>
                  <p>
                   Un rack en bois pour les ranger,<br>
                   le <span class="highlight"> Vinibar.</span>
                  <p>
               </div>
               <div class="col-lg-4 col-md-4 cell">
                  <img class="img img-responsive dessins wobble-vertical hipster-cadeau" src="assets/img/hipstercadeau.png" id="img-contact">
              </div>
               <div class="col-lg-4 col-md-4 v-align-text hidden-xs hidden-sm">
                <p>
                 L'accès à <span class="highlight">l'application Vinify</span> <br> pour les noter.
                </p>
                <p>
                 Des <span class="highlight">conseils et des accords mets-vins</span> pour les déguster.
                <p>
               </div>
               <div class="col-lg-4 col-md-4 visible-xs visible-sm">
                  <p>
                   L'accès à <span class="highlight">l'application Vinify</span> <br> pour les noter.
                  </p>
                  <p>
                   Des <span class="highlight">conseils et des accords mets-vins</span> pour les déguster.
                  <p>
               </div>
            </div>
          </div>
        </div>

      <div class="section" id="recharge">
          <div class="container">
              <h2 class="featurette-heading">La Recharge</h2>
              <div class="clearfix">
                 <div class="svg-container half">
                    <p><svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                       width="288.146px" height="165.164px" viewBox="0 0 288.146 165.164" enable-background="new 0 0 288.146 165.164"
                       xml:space="preserve">
                    <g id="Layer_1">
                      <g>
                        <defs>
                          <rect id="SVGID_1_" x="65.396" y="122.563" width="108.583" height="42.601"/>
                        </defs>
                        <clipPath id="SVGID_2_">
                          <use xlink:href="#SVGID_1_"  overflow="visible"/>
                        </clipPath>
                      </g>
                      <g>
                        <defs>
                          <polyline id="SVGID_3_" points="176.646,26.933 207.367,26.933 207.367,57.664 176.646,57.664       "/>
                        </defs>
                        <clipPath id="SVGID_4_">
                          <use xlink:href="#SVGID_3_"  overflow="visible"/>
                        </clipPath>
                        <g clip-path="url(#SVGID_4_)" enable-background="new    ">
                          <g>
                            <defs>
                              <rect id="SVGID_5_" x="176.617" y="26.914" width="30.75" height="30.75"/>
                            </defs>
                            <clipPath id="SVGID_6_">
                              <use xlink:href="#SVGID_5_"  overflow="visible"/>
                            </clipPath>
                            <g clip-path="url(#SVGID_6_)">
                              <defs>
                                <rect id="SVGID_7_" x="176.617" y="26.914" width="30.75" height="30.75"/>
                              </defs>
                              <clipPath id="SVGID_8_">
                                <use xlink:href="#SVGID_7_"  overflow="visible"/>
                              </clipPath>
                              <path clip-path="url(#SVGID_8_)" fill="none" stroke="#FDFEFF" stroke-miterlimit="10" d="M200.63,40.849
                                c-0.047-2.653-2.197-5.017-4.857-5.017c-1.535,0-2.891,0.804-3.781,1.984c-0.895-1.181-2.248-1.984-3.785-1.984
                                c-2.658,0-4.811,2.363-4.855,5.017h-0.008c0,0.017,0.002,0.032,0.002,0.047c0,0.012-0.002,0.024-0.002,0.038
                                c0,0.073,0.018,0.131,0.02,0.202c0.24,6.761,8.561,9.533,8.561,9.533s8.443-2.771,8.693-9.522
                                c0.002-0.075,0.023-0.137,0.023-0.213c0-0.014-0.004-0.026-0.004-0.038c0-0.017,0.004-0.03,0.004-0.047H200.63"/>
                            </g>
                            <g clip-path="url(#SVGID_6_)">
                              <defs>
                                <path id="SVGID_9_" d="M191.992,26.914c-8.492,0-15.375,6.883-15.375,15.375c0,8.491,6.883,15.375,15.375,15.375
                                  c8.49,0,15.375-6.883,15.375-15.375C207.367,33.797,200.482,26.914,191.992,26.914z M200.64,40.934
                                  c0,0.076-0.021,0.138-0.023,0.213c-0.25,6.752-8.693,9.522-8.693,9.522s-8.32-2.772-8.561-9.533
                                  c-0.002-0.071-0.02-0.129-0.02-0.202c0-0.014,0.002-0.026,0.002-0.038c0-0.015-0.002-0.03-0.002-0.047h0.008
                                  c0.045-2.653,2.197-5.017,4.855-5.017c1.537,0,2.891,0.804,3.785,1.984c0.891-1.181,2.246-1.984,3.781-1.984
                                  c2.66,0,4.811,2.363,4.857,5.017h0.01c0,0.017-0.004,0.03-0.004,0.047C200.636,40.907,200.64,40.92,200.64,40.934z"/>
                              </defs>
                              <clipPath id="SVGID_10_">
                                <use xlink:href="#SVGID_9_"  overflow="visible"/>
                              </clipPath>
                              <g clip-path="url(#SVGID_10_)">
                                <defs>
                                  <rect id="SVGID_11_" x="176.617" y="26.914" width="30.75" height="30.75"/>
                                </defs>
                                <clipPath id="SVGID_12_">
                                  <use xlink:href="#SVGID_11_"  overflow="visible"/>
                                </clipPath>

                                  <rect x="174.214" y="24.513" clip-path="url(#SVGID_12_)" fill-rule="evenodd" clip-rule="evenodd" fill="#076EB2" width="35.555" height="35.553"/>
                              </g>
                            </g>
                          </g>
                        </g>
                      </g>
                      <g>
                        <path fill="none" stroke="#076EB2" stroke-miterlimit="10" d="M92.625,23.137c0,1.061,0.86,1.922,1.922,1.922h15.375
                          c1.061,0,1.922-0.861,1.922-1.922V17.37H92.625V23.137z M108.96,21.215c0.531,0,0.961,0.429,0.961,0.961
                          c0,0.53-0.43,0.961-0.961,0.961S108,22.706,108,22.176C108,21.644,108.429,21.215,108.96,21.215z M105.117,21.215
                          c0.531,0,0.961,0.429,0.961,0.961c0,0.53-0.43,0.961-0.961,0.961s-0.961-0.431-0.961-0.961
                          C104.156,21.644,104.585,21.215,105.117,21.215z M101.273,21.215c0.531,0,0.961,0.429,0.961,0.961c0,0.53-0.43,0.961-0.961,0.961
                          s-0.961-0.431-0.961-0.961C100.312,21.644,100.742,21.215,101.273,21.215z"/>
                        <g>
                          <defs>
                            <polyline id="SVGID_13_" points="86.888,2.495 117.609,2.495 117.609,33.227 86.888,33.227        "/>
                          </defs>
                          <clipPath id="SVGID_14_">
                            <use xlink:href="#SVGID_13_"  overflow="visible"/>
                          </clipPath>
                          <g clip-path="url(#SVGID_14_)" enable-background="new    ">
                            <g>
                              <defs>
                                <rect id="SVGID_15_" x="86.859" y="2.476" width="30.75" height="30.751"/>
                              </defs>
                              <clipPath id="SVGID_16_">
                                <use xlink:href="#SVGID_15_"  overflow="visible"/>
                              </clipPath>
                              <g clip-path="url(#SVGID_16_)">
                                <defs>
                                  <path id="SVGID_17_" d="M102.234,2.476c-8.491,0-15.375,6.885-15.375,15.375c0,8.491,6.884,15.376,15.375,15.376
                                    s15.375-6.885,15.375-15.376C117.609,9.36,110.725,2.476,102.234,2.476z M111.843,23.137c0,1.061-0.861,1.922-1.922,1.922
                                    H94.546c-1.062,0-1.922-0.861-1.922-1.922V17.37h19.219V23.137z M111.843,14.487H92.625v-0.961
                                    c0-1.061,0.86-1.922,1.922-1.922h15.375c1.061,0,1.922,0.861,1.922,1.922V14.487z"/>
                                </defs>
                                <clipPath id="SVGID_18_">
                                  <use xlink:href="#SVGID_17_"  overflow="visible"/>
                                </clipPath>
                                <g clip-path="url(#SVGID_18_)">
                                  <defs>
                                    <rect id="SVGID_19_" x="86.859" y="2.476" width="31.23" height="30.751"/>
                                  </defs>
                                  <clipPath id="SVGID_20_">
                                    <use xlink:href="#SVGID_19_"  overflow="visible"/>
                                  </clipPath>

                                    <rect x="84.457" y="0.073" clip-path="url(#SVGID_20_)" fill-rule="evenodd" clip-rule="evenodd" fill="#076EB2" width="35.555" height="35.556"/>
                                </g>
                              </g>
                            </g>
                          </g>
                        </g>
                        <path fill="none" stroke="#076EB2" stroke-miterlimit="10" d="M105.117,23.137c0.531,0,0.961-0.431,0.961-0.961
                          c0-0.532-0.43-0.961-0.961-0.961s-0.961,0.429-0.961,0.961C104.156,22.706,104.585,23.137,105.117,23.137"/>
                        <path fill="none" stroke="#076EB2" stroke-miterlimit="10" d="M108.96,23.137c0.531,0,0.961-0.431,0.961-0.961
                          c0-0.532-0.43-0.961-0.961-0.961S108,21.644,108,22.176C108,22.706,108.429,23.137,108.96,23.137"/>
                        <path fill="none" stroke="#076EB2" stroke-miterlimit="10" d="M101.273,23.137c0.531,0,0.961-0.431,0.961-0.961
                          c0-0.532-0.43-0.961-0.961-0.961s-0.961,0.429-0.961,0.961C100.312,22.706,100.742,23.137,101.273,23.137"/>
                      </g>
                      <g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </g>
                      <g>
                        <g>
                        </g>
                        <g>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="none" stroke="#016EB2" stroke-width="2" stroke-miterlimit="10" d="M192.579,70.016c0,0-3.908,20.24-25.001,32.5"/>
                          <g>
                            <polygon fill="#016EB2" points="165.972,91.973 154.393,108.21 174.245,110.123         "/>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="none" stroke="#016EB2" stroke-width="2" stroke-miterlimit="10" d="M102.713,94.221c0,0-15.801-13.241-16.282-37.632
                            "/>
                          <g>
                            <polygon fill="#016EB2" points="96.428,60.302 87.852,42.298 76.545,58.726         "/>
                          </g>
                        </g>
                      </g>
                      <g>
                        <g>
                          <path fill="none" stroke="#016EB2" stroke-width="2" stroke-miterlimit="10" d="M126.454,3.789c0,0,19.542-6.564,40.597,5.758"/>
                          <g>
                            <polygon fill="#016EB2" points="158.664,16.135 178.498,18.22 170.389,0        "/>
                          </g>
                        </g>
                      </g>
                      <text transform="matrix(1 0 0 1 3.7168 15.1587)"><tspan x="0" y="0" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">JE COMMANDE</tspan><tspan x="-3.573" y="10.8" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">A MON BUDGET</tspan></text>
                      <text transform="matrix(1 0 0 1 224.0854 39.5957)"><tspan x="0" y="0" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">JE DEGUSTE</tspan><tspan x="0" y="10.8" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">A MON RYTHME</tspan></text>
                      <text transform="matrix(1 0 0 1 110.8071 148.3765)"><tspan x="0" y="0" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">JE NOTE</tspan><tspan x="-13.707" y="10.8" fill="#016EB2" font-family="'Amaranth-Bold'" font-size="9">MA SELECTION</tspan></text>
                      <g>
                        <path fill="#FFFFFF" d="M118.953,102.103h4.688v0.938h-4.688V102.103L118.953,102.103z M118.484,117.572h4.219h6.094
                          c0.776,0,1.406-0.63,1.406-1.406v-2.832l-1.875,1.895h-5.977h-3.398v-0.938h3.595l0.116-0.557l0.17-0.85h-3.881v-0.938h4.068
                          l0.281-1.406h-4.35v-0.938h4.537l0.057-0.288l1.119-1.118h-5.713v-0.938h6.65l1.406-1.406h-8.057v-0.938h8.994l2.256-2.256v-2.432
                          c0-0.776-0.63-1.406-1.406-1.406h-4.219h-6.094c-0.776,0-1.406,0.63-1.406,1.406v11.719v4.219
                          C117.078,116.942,117.708,117.572,118.484,117.572L118.484,117.572z"/>
                        <path fill="#FFFFFF" d="M135.48,105.337l0.675,0.675l1.237-1.237c0.414-0.415,0.414-1.086,0-1.501l-2.501-2.501
                          c-0.414-0.414-1.086-0.414-1.501,0l-1.237,1.237l0.675,0.675L135.48,105.337L135.48,105.337z"/>
                        <g>
                          <defs>
                            <rect id="SVGID_21_" x="111.453" y="93.197" width="30" height="30"/>
                          </defs>
                          <clipPath id="SVGID_22_">
                            <use xlink:href="#SVGID_21_"  overflow="visible"/>
                          </clipPath>
                          <polygon clip-path="url(#SVGID_22_)" fill="#FFFFFF" points="123.583,113.917 123.505,114.291 127.938,114.291 135.483,106.667
                            134.817,106 132.166,103.348 131.503,102.685 124.411,109.777 123.583,113.917       "/>
                          <path clip-path="url(#SVGID_22_)" fill="#016EB2" d="M117.078,111.947v-11.719c0-0.776,0.63-1.406,1.406-1.406h6.094h4.219
                            c0.776,0,1.406,0.63,1.406,1.406v2.432l-2.256,2.256h-8.994v0.938h8.057l-1.406,1.406h-6.65v0.938h5.713l-1.119,1.118
                            l-0.057,0.288h-4.537v0.938h4.35l-0.281,1.406h-4.068v0.938h3.881l-0.17,0.85l-0.116,0.557h-3.595v0.938h3.398h5.977l1.875-1.895
                            v2.832c0,0.776-0.63,1.406-1.406,1.406h-6.094h-4.219c-0.776,0-1.406-0.63-1.406-1.406V111.947L117.078,111.947z
                             M132.166,103.348l2.651,2.651l0.666,0.667l-7.546,7.624h-4.433l0.078-0.373l0.828-4.141l7.092-7.092L132.166,103.348
                            L132.166,103.348z M133.391,100.773c0.415-0.414,1.087-0.414,1.501,0l2.501,2.501c0.414,0.415,0.414,1.086,0,1.501l-1.237,1.237
                            l-0.675-0.675l-2.652-2.652l-0.675-0.675L133.391,100.773L133.391,100.773z M126.375,123.197c8.284,0,15-6.716,15-15
                            s-6.716-15-15-15s-15,6.716-15,15S118.091,123.197,126.375,123.197L126.375,123.197z"/>
                        </g>
                        <polygon fill="#016EB2" points="123.641,102.103 118.953,102.103 118.953,103.041 123.641,103.041 123.641,102.103     "/>
                      </g>
                    </g>
                    <g id="Layer_2">
                    </g>
                    </svg></p>

                 </div> <!-- /svg-container -->
                 <div class="half half-left">
                      <p class="lead-section">Plus je déguste et je note, plus les vins me correspondent</p>
                      <p>
                        Je choisis mon budget, et en fonction de mes notes, Vinify me propose des sélections personnalisées.
                      </p>
                      <p class="par-end">
                        Je déguste à mon rythme, et je recommande quand j'ai envie !
                      </p>
                      <p class="know-more-link"><a class="" href="">En savoir plus</a></p>
                 </div>
               </div>
          </div>
        </div>

      <div class="container">
          <hr class="featurette-divider">
      </div>

       <div class="section" id="badges">
        <div class="container">
          <div class="row propval">
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg class="grow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-blue" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 60.9033 99.082)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat'" font-size="27">SANS</tspan><tspan x="-20.911" y="19.2" fill="#FFFFFF" font-family="'Montserrat'" font-size="16">ENGAGEMENT</tspan></text>
                </g>
                </svg>
              </div>
              <p>Le Vinibar, c'est sans engagement ! <br> Je recharge par 3 bouteiles quand j'ai envie, dans la gamme qui me convient, de 29 à 49 euros.</p>
            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg class="grow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-red" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 44.1963 95.0117)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat'" font-size="14">PRODUCTEURS</tspan><tspan x="-3.031" y="16.8" fill="#FFFFFF" font-family="'Montserrat'" font-size="14">INDÉPENDANTS</tspan></text>
                </g>
                </svg>
              </div>

              <p>Pas de grandes marques, je découvre des producteurs indépendants qui élaborent leur produit avec passion et tradition.</p>

            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg class="grow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-yellow" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 37.4668 97.1348)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat'" font-size="19">J’APPRENDS</tspan><tspan x="5.225" y="16.8" fill="#FFFFFF" font-family="'Montserrat'" font-size="14">EN DÉGUSTANT</tspan></text>
                </g>
                </svg>
              </div>
              <p>Sans jargon ni snobisme, je progresse par la dégustation. C'est la seule manière de découvrir mes goûts.</p>
            </div>
            <div class="col-lg-3 col-md-3 propcontent">
              <div class="row tnp">
                <svg class="grow" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   width="198.43px" height="198.43px" viewBox="0 0 198.43 198.43" enable-background="new 0 0 198.43 198.43" xml:space="preserve">
                <g>
                  <g>
                    <path class="svg-blue" fill="#016EB2" d="M178.729,73.542c-2.506-7.721-13.148-11.67-18.172-18.594s-5.477-18.268-12.037-23.045
                      c-6.803-4.947-17.795-1.82-25.627-4.363c-7.912-2.57-14.971-11.535-23.291-11.547C91.37,15.981,84.296,24.897,76.3,27.495
                      c-7.721,2.502-18.695-0.658-25.621,4.365c-6.922,5.025-7.32,16.439-12.098,23c-4.947,6.801-15.621,10.756-18.162,18.59
                      c-2.568,7.91,3.764,17.404,3.752,25.721c-0.012,8.236-6.395,17.715-3.799,25.717c2.504,7.719,13.148,11.668,18.172,18.592
                      c5.021,6.926,5.477,18.27,12.039,23.043c6.801,4.953,17.793,1.824,25.625,4.367c7.91,2.566,14.971,11.535,23.289,11.547
                      c8.232,0.012,15.307-8.906,23.307-11.502c7.717-2.504,18.693,0.658,25.617-4.367c6.924-5.023,7.322-16.438,12.1-23
                      c4.947-6.799,15.619-10.754,18.162-18.586c2.57-7.912-3.764-17.406-3.754-25.723C174.942,91.024,181.325,81.542,178.729,73.542z"
                      />
                    <path fill="#FFFFFF" d="M99.55,33.021c-36.498,0-66.193,29.695-66.193,66.195c0,36.496,29.695,66.193,66.193,66.193
                      c36.5,0,66.193-29.697,66.193-66.193C165.743,62.716,136.05,33.021,99.55,33.021z M99.55,163.743
                      c-35.58,0-64.527-28.947-64.527-64.527c0-35.584,28.947-64.531,64.527-64.531c35.582,0,64.529,28.947,64.529,64.531
                      C164.079,134.796,135.132,163.743,99.55,163.743z"/>
                  </g>
                  <text transform="matrix(1 0 0 1 69.2119 91.709)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'Montserrat'" font-size="26">-15%</tspan><tspan x="-18.821" y="16.8" fill="#FFFFFF" font-family="'Montserrat'" font-size="14">SUR LES VINS</tspan><tspan x="-21.166" y="33.6" fill="#FFFFFF" font-family="'Montserrat'" font-size="14">QUE J’AI AIMÉ</tspan></text>
                </g>
                </svg>
              </div>
              <p>Je rachète les vins qui m'ont le plus plû à tarif préférentiel pour constituer ma cave, ou simplement pour le partager</p>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div><!-- /.section -->
      <!-- /badges -->


    <div class="vinibar-bandeau hidden-xs" id="footer-image">
        <div class="vertical-align">
          <a href="http://vinify.co/waitlist.html">
            <button class="grow btn btn-primary landing-btn-strong">Démarrer l'aventure</button>
          </a>
        </div>

    </div>


       <hr class="featurette-divider visible-xs" id="lastdivider">



      <div class="section">

        <div class="container">

          <div class="row social">

              <div class="row">
                <div class="col-lg-2 col-lg-offset-2 col-md-2 col-md-offset-2">
                  <div class="line"></div>
                </div>
                <div class="col-lg-4 col-md-4">
                  <h1>Contactez-nous !</h1>
                </div>
                <div class="col-lg-2 col-md-2">
                 <div class="line"></div>
                </div>
              </div>
              <div class="row">
              <div class="col-lg-2 col-lg-offset-3 col-md-2 col-md-offset-3 socbuttons">
                <a href="http://facebook.com/vinify.co" class="float" target="_blank"><img alt="" src="assets/img/fb-icon.png"></a>
                <h3>Facebook</h3><a href="http://facebook.com/vinify.co" "_blank">vinify</a>
              </div>

              <div class="col-lg-2 col-md-2 socbuttons">
                <a href="http://twitter.com/vinifyco" class="float" target="_blank"><img alt="" src="assets/img/twitter-icon.png"></a>
                <h3>Twitter</h3><a href="http://twitter.com/vinifyco" "_blank">@vinifyco</a>
              </div>

              <div class="col-lg-2 col-md-2 socbuttons">
                <a href="mailto:founders@vinify.co" class="float" target="_blank"><img alt="" src="assets/img/mail-icon.png"></a>
                <h3>Mail</h3><a href="mailto:founders@vinify.co" "_blank">founders@vinify.co</a>
              </div>
            </div>
          </div><!-- /.row -->

        </div><!-- /.container -->

      </div>

    <div class="irritant" id="footer">
      <div class="container">

        <!-- FOOTER -->
        <footer>
          <p>
            Merci à <a class="highlight" href="http://amelie-caudron.tumblr.com/">Amélie</a> pour ses supers dessins.
          </p>
          <p>
            Copyright &copy; Vinify 2014 &middot; L'abus d'alcool est dangereux pour la santé, à consommer avec modération.
          </p>
        </footer>
        <!-- /END OF FOOTER -->
    </div><!-- /container -->
  </div>
</div><!-- /CONTENT -->


  <!-- javascript -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
  <script type="text/javascript" src="<%= file %>"></script><% }); %>

  <script>
    $('.headline').flexVerticalCenter({ cssAttribute: 'padding-top', parentSelector: '.header-image', verticalOffset: '-50px' });
  </script>

  <script>
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });
  </script>

  <script>
    $(document).ready(function () {

        var menu = $('#navbar-second');
        var origOffsetY = menu.offset().top;

        function scroll() {
            if ($(window).scrollTop() >= origOffsetY) {
                $('#navbar-second').addClass('navbar-fixed-top');
                $('.content').addClass('menu-padding');
            } else {
                $('#navbar-second').removeClass('navbar-fixed-top');
                $('.content').removeClass('menu-padding');
            }


        }

        document.onscroll = scroll;

    });
  </script>

</body>

</html>
